html{
  font-size: 10px;
}

body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

article{
  max-width: 800px; 
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; 
}

h1, h2 {
  text-align: center; 
}

.cBold {
  font-weight: bold;
}

.cItalic {
  font-style: italic;
}

.cCenter {
  text-align: center;
}

@media screen and (max-width: 600px){
  body {
    font-size: 1.8rem;
  }
}